.navbar {
    height: 12vh;
    width: 100vw;
    background-color: cadetblue;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.navbar-item-container {
    display: flex;
    align-items: center;
}
.navbar-item {
    padding: 0 30px;
}
.logo {
    display: flex;
    align-items: center;
    padding: 0 30px;
}